# Dependencies
node_modules/

# Production
dist/
build/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Server
server/db/*.db
server/chat.db
server/uploads/*
!server/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
